:root {
	--dark-blue: #200599; /*CHANGE*/
	--creme: #ebe8d1; /*CHANGE probably*/
}

body {
    margin: 0;
	
	background: var(--creme);
	font-family: 'Jost', sans-serif;
}

h1 {
	margin: 0;
	padding: 15px;
	
	background-color: var(--dark-blue);
	
	text-align: center;
	font-size: 3em;
	color: var(--creme);
}

h2 {
	margin: 0;
	
	background-color: var(--dark-blue);
	
	text-align: center;
	font-size: 1.25em;
	color: var(--creme);
}

nav {
	margin: 0;
	padding: 0.5em 0 0.5em 0;
	
	background-color: var(--dark-blue);
	text-align: center;
}

a:link, a:visited {
	margin: 0 1em 0 1em;
	
	text-decoration: none;
	font-size: 2em;
	color: var(--creme);
	
	
}

a:hover {
	transition: all 0.4s;
	text-shadow: 2px 2px 5px white;
}

a.resumeLink {
	margin: 0;
	padding: 15px;
	
	background-color: var(--dark-blue);
	color: var(--creme);
	text-align: center;
}

i.resumeLink {
	color: var(--creme);
}

