:root {
	--dark-blue: #200599;
	--creme: #ebe8d1;
}

body {
    margin: 0;
	
	background: var(--creme);
	font-family: 'Jost', sans-serif;
}

h1 {
	margin: 0;
	padding: 15px;
	
	text-align: center;
	font-size: 3em;
	color: var(--creme);
}

a:link, a:visited {
	margin: 0 1em 0 1em;
	
	text-decoration: none;
	font-size: 2em;
	color: var(--creme);
}

a:hover {
	transition: all 0.4s;
	text-shadow: 2px 2px 5px white;
}

a.resumeLink {
	margin: 0;
	margin-left: calc(50% - 87.5px);
	
	color: var(--creme);
	text-align: center;
}

div.headingDiv {
	padding-bottom: 10px;
	background-color: var(--dark-blue);
}

i.resumeLink {
	color: var(--creme);
}

